<html>
<head>
  <title>this is the _header.ejs</title>
</head>

<style>
  body {
      font-family:sans-serif;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 20px;
      background-color: #eeeeee;

  }
  table {
      margin: auto;
  }

  .jumbotron {
    background-color: #f4511e; /* Orange */
    color: #000000;
  }

</style>

<body>

<center>

        <% if(user_id) { %>
        <form method="POST" action="/logout"class="form-inline">
        <div class="input-group">
            <label for="logout" style="color: #000000">
                    <%= `Hello ${email}!` %>
            </label>
            <input type="submit" value="Logout">
        </div>
        </form>
        <% } else { %>
          
          <div class="input-group">
            <form method="GET" action="/login">
            <button>Login</button>
          </form>

          <form method="GET" action="/register">
          <button>Register</button>
        </form>
        <% } %>

<% console.log(':::::::::END OF HEADER:::::::'); %>


</body>
 </html>
