<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="./../../stylesheets/main.css">
<center>

    <% if(user_id) { %>
        <table>
            <tr>
                <td>
                    <%= `Hello ${email}!` %>
                </td>
                <td>
                    <form method="POST" action="/logout" class="form-inline">
                        <div class="input-group">
                            <input type="submit" value="Logout">
                    </form>
                </td>
                <td>
                    <form method="GET" action="/urls">
                        <button>My URLS</button>
                    </form>
                </td>
                </div>
            </tr>
        </table>

        <% } else { %>
            <table>
                <tr>
                    <td>
                        <div class="input-group">
                            <form method="GET" action="/login">
                                <button>Login</button>
                            </form>
                    </td>
                    <td>
                        <form method="GET" action="/register">
                            <button>Register</button>
                        </form>
                        </div>
                    </td>
                </tr>
            </table>
            <% } %>
</center>
