<html>
<head>
  <title>this is the _header.ejs</title>
</head>

<body>
  <form method="POST" action="/login">
    <label for="username">Enter Username: </label>
    <input type="text" name="username" style="width: 300px">
    <input type="submit" value="Sign In">
  </form>
</body>
</html>
