<html>
<head>
  <title>this is the _header.ejs</title>
</head>

<style>
  body {
      font-family:sans-serif;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 20px;
      background-color: #eeeeee;

  }
  table {
      margin: auto;
  }

  .jumbotron {
    background-color: #f4511e; /* Orange */
    color: #000000;
  }

</style>

<body>

<center>

        <% if(username) { %>
        <form method="POST" action="/logout"class="form-inline">
        <div class="input-group">
            <label for="logout" style="color: #FFFFFF"><%=`${username} `%> </label>
            <input type="submit" value="Logout">
        </div>
        </form>
        <% } else { %>
        <div class="input-group">
        <form method="POST" action="/login" class="form-inline">
          <label for="username">Enter Username: </label>
          <input type="text" name="username" style="width: 300px">
          <input type="submit" value="Sign In" class="btn btn-danger">
        </div>
        </form>
        <% } %>



</body>
 </html>
