<!DOCTYPE html>
<html>

<head>
    <title>Login Landing</title>
</head>

<title>TinyApp</title>



</head>

<style>
    .jumbotron {
        background-color: #f4511e;
        color: #fff;
        padding: 100px 25px;
    }
</style>


<body>
    <% include partials/_header %>

        <h1>Enter information to login</h1>
        <form method="POST" action="/login">

            <div class="input-group  text-center">
                <table>
                    <tr>
                        <td>
                            <label for="email">E-mail: </label>
                        </td>
                        <td>
                            <input type="email" value="" name="userEmail" style="width: 300px">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="password">Password: </label>
                        </td>
                        <td>
                            <input type="password" value="" name="password" style="width: 300px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><input type="submit" value="login" class="btn btn-danger"></center>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
</body>

</html>
