<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>


  <% include partials/_header %>


</head>
<body>


  <div class="jumbotron text-center">
  </div>

  <div class="row">
  <table>
  <% for(let i = 0; i < userUrls.length; i++) { %>
  <tr>
    <td class="cellpadding">
      <%= `${userUrls[i]} ----> ${urls[userUrls[i]]['url']} \n `%>
    </td>
    <td class="cellpadding">
      <form action="/urls/<%= userUrls[i] %>">
        <input type="submit" value="Update"/>
      </form>
    </td>
    <td class="cellpadding">
      <form method="POST" action="/urls/<%= userUrls[i] %>/delete">
      <button>Delete</button>
    </form>
    </td>
  </tr>
  <% } %>

  </table>
  </div

</body>
</html>
