<!DOCTYPE html>
<html lang="en">
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!--
  <style>
    body {
        font-family:sans-serif;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: inherit;;
    }
    table {
        margin: auto;
    }
  </style> -->

</head>
<body>
  <div class="jumbotron" style="width: 800px; margin: auto">
  <% include partials/_header %>
  </div>

  <div class="row">
  <table>
  <% for(let shortURL in urls) { %>
  <tr>
    <td>
      <%= `${shortURL} ----> ${urls[shortURL]} \n `%>
    </td>
    <td>
      <form action="/urls/<%= shortURL %>">
        <input type="submit" value="Update"/>
      </form>
    </td>
    <td>
      <form method="POST" action="/urls/<%= shortURL %>/delete">
      <button>Delete</button>
    </form>
    </td>
  </tr>
  <% } %>
  </table>
  </div

</body>
</html>
