<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>




</head>
<body>


  <div class="jumbotron text-center">
  <% include partials/_header %>
  </div>

  <div class="row">
  <table>
  <% for(let shortURL in urls) { %>
  <tr>
    <td class="cellpadding">
      <%= `${shortURL} ----> ${urls[shortURL]['url']} \n `%>
    </td>
    <td class="cellpadding">
      <form action="/urls/<%= shortURL %>">
        <input type="submit" value="Update"/>
      </form>
    </td>
    <td class="cellpadding">
      <form method="POST" action="/urls/<%= shortURL %>/delete">
      <button>Delete</button>
    </form>
    </td>
  </tr>
  <% } %>
  </table>
  </div

</body>
</html>
