<!DOCTYPE html>
<html lang="en">
<head>
  <title>urls show</title>
</head>
<body>
  <% include partials/_header %>

  <table>
    <tr>
      <td>
        <h1>ShortURL: <%= `${shortURL}`%></h1>
      </td>
      <td>
        <form action="/urls/<%= `${shortURL}`%>" method="POST" style="margin:10px;">

        <input id="longURL" type="text" name="longURL" value="<%=`${longURL}`%>" style="width: 300px">
        <input type="submit" value="Update">
        </form>
      </td>
      <td>
        <form method="POST" action="/urls/<%=`${shortURL}`%>/delete">
        <button>Delete</button>
        </form>
      </td>
    </tr>
  </table>

</body>
</html>
